body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.backGround{
  width: 100%;
  height: 100vh;
  background: url('./web-phim/bgmovie.jpg');
  background-position: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}
.ghe{
  border: 3px solid orange;
  width: 45px;
  height: 35px;
  font-size: 12px;
  margin-left: 2%;
  margin-bottom: 1%;
  border-radius: 5px;
  cursor: pointer;
}
.rowNumber{
  /* font-size: 25px; */
  width: 45px;
  height: 35px;
  background: none;
  border:none;
  margin-left: 2%;
  margin-bottom: 1%;
  font-size: 30px;
  color: yellow;
  
}
.gheDuocChon {
  border: 3px solid orange;

  background: orange;
  color: #000;
  border-radius: 5px;
  width: 45px;
  height: 35px;

}
.paid{
  cursor: no-drop !important;
}